.header-container {
  padding: 15px;
  .navbar-default {
    background-color: #6f5499;
    border-color: #6f5499;
    min-height: 56px;
    .navbar-brand {
      border: 2px solid @textTransparent;
      color: @textWhite;
      > li > a {
        color: #cdbfe3;
      }
    }
    .navbar-nav {
      > li > a {
        border: 2px solid @textTransparent;
        color: #cdbfe3;
      }
      > li > a:focus,
      > li > a:hover {
        color: @textWhite;
      }
      > .active > a {
        color: #6f5499;
      }
      > .active > a,
      > .active > a:focus,
      > .active > a:hover {
        background-color: #8771a8;
        border: 2px solid #6f5499;
        color: @textWhite;
      }
    }
    .navbar-toggle {
      &:focus,
      &:hover {
        background-color: #8771a8;
      }
      .icon-bar {
        background-color: #dddddd;
      }
    }
  }
}
