@bgActive:       #f5f5f5;
@bgBlack:        #000000;
@bgDanger:       #f2dede;
@bgDefault:      #cccccc;
@bgDefaultDark:  #aaaaaa;
@bgDefaultDarker:#777777;
@bgDefaultLight: #fafafa;
@bgDisabled:     #eeeeee;
@bgGray:         #2a2730;
@bgInfo:         #d9edf7;
@bgSuccess:      #dff0d8;
@bgTransparent:  transparent;
@bgWarning:      #fcf8e3;
@bgWhite:        #ffffff;
@bgPrimary:      #337ab7;
@bgPrimaryLight: #4d9be0;

@borderActive:       #f5f5f5;
@borderBlack:        #000000;
@borderDanger:       #ebccd1;
@borderDefault:      #cccccc;
@borderDefaultDark:  #aaaaaa;
@borderDefaultDarker:#777777;
@borderDefaultLight: #fafafa;
@borderDisabled:     #eeeeee;
@borderGray:         #2a2730;
@borderInfo:         #bce8f1;
@borderSuccess:      #d6e9c6;
@borderTransparent:  transparent;
@borderWarning:      #faebcc;
@borderWhite:        #ffffff;
@borderPrimary:      #337ab7;
@borderPrimaryLight: #4d9be0;

@textActive:       #f5f5f5;
@textBlack:        #000000;
@textDanger:       #a94442;
@textDefault:      #cccccc;
@textDefaultDark:  #aaaaaa;
@textDefaultDarker:#777777;
@textDefaultLight: #fafafa;
@textDisabled:     #eeeeee;
@textGray:         #2a2730;
@textInfo:         #31708f;
@textSuccess:      #3c763d;
@textTransparent:  transparent;
@textWarning:      #8a6d3b;
@textWhite:        #ffffff;
@textPrimary:      #337ab7;
@textPrimaryLight: #4d9be0;

@bgColorsList: danger @bgDanger default @bgDefault defaultDark @bgDefaultDark defaultDarker @bgDefaultDarker defaultLight @bgDefaultLight disabled @bgDisabled info @bgInfo success @bgSuccess transparent @bgTransparent warning @bgWarning white @bgWhite primary @bgPrimary;
@borderColorsList: danger @borderDanger default @borderDefault defaultDark @bgDefaultDark defaultDarker @bgDefaultDarker defaultLight @borderDefaultLight disabled @borderDisabled info @borderInfo success @borderSuccess transparent @borderTransparent warning @borderWarning white @borderWhite primary @borderPrimary;
@textColorsList: danger @textDanger default @textDefault defaultDark @bgDefaultDark defaultDarker @bgDefaultDarker defaultLight @textDefaultLight disabled @textDisabled info @textInfo success @textSuccess transparent @textTransparent warning @textWarning white @textWhite primary @textPrimary;

@bgHtml5:         #E44D26;
@bgCss3:          #379AD6;
@bgLess:          #1D365D;
@bgJavascript:    #F7DF1E;
@bgJquery:        #0769AD;
@bgAngularjs:     #FFFFFF;
@bgBootstrap:     #563d7c;
@borderBootstrap: #cdbfe3;
