@bgActive:      #f5f5f5;
@bgDanger:      #f2dede;
@bgDefault:     #cccccc;
@bgDisabled:    #cccccc;
@bgInfo:        #d9edf7;
@bgSuccess:     #dff0d8;
@bgTransparent: transparent;
@bgWarning:     #fcf8e3;
@bgWhite:       #ffffff;

@borderActive:      #f5f5f5;
@borderDanger:      #ebccd1;
@borderDefault:     #cccccc;
@borderDisabled:    #cccccc;
@borderInfo:        #bce8f1;
@borderSuccess:     #d6e9c6;
@borderTransparent: transparent;
@borderWarning:     #faebcc;
@borderWhite:       #ffffff;

@textActive:      #f5f5f5;
@textDanger:      #a94442;
@textDefault:     #cccccc;
@textDisabled:    #cccccc;
@textInfo:        #31708f;
@textSuccess:     #3c763d;
@textTransparent: transparent;
@textWarning:     #8a6d3b;
@textWhite:       #ffffff;

@bgColorsList: danger @bgDanger default @bgDefault disabled @bgDisabled info @bgInfo success @bgSuccess transparent @bgTransparent warning @bgWarning white @bgWhite;
@borderColorsList: danger @borderDanger default @borderDefault disabled @borderDisabled info @borderInfo success @borderSuccess transparent @borderTransparent warning @borderWarning white @borderWhite;
@textColorsList: danger @textDanger default @textDefault disabled @textDisabled info @textInfo success @textSuccess transparent @textTransparent warning @textWarning white @textWhite;
