@alertBgDanger:      #fae0e0;
@alertBgDefault:     #fae0e0;
@alertBgDisabled:    #fae0e0;
@alertBgInfo:        #e7f4fb;
@alertBgSuccess:     #ebf7ee;
@alertBgTransparent: transparent;
@alertBgWarning:     #faf7d6;
@alertBgWhite:       #ffffff;

@alertBorderDanger:      #fae0e0;
@alertBorderDefault:     #fae0e0;
@alertBorderDisabled:    #fae0e0;
@alertBorderInfo:        #e7f4fb;
@alertBorderSuccess:     #ebf7ee;
@alertBorderTransparent: transparent;
@alertBorderWarning:     #faf7d6;
@alertBorderWhite:       #ffffff;

@alertTextDanger:      #fae0e0;
@alertTextDefault:     #fae0e0;
@alertTextDisabled:    #fae0e0;
@alertTextInfo:        #e7f4fb;
@alertTextSuccess:     #ebf7ee;
@alertTextTransparent: transparent;
@alertTextWarning:     #faf7d6;
@alertTextWhite:       #ffffff;

@bgDanger:      #fae0e0;
@bgDefault:     #fae0e0;
@bgDisabled:    #fae0e0;
@bgInfo:        #e7f4fb;
@bgSuccess:     #ebf7ee;
@bgTransparent: transparent;
@bgWarning:     #faf7d6;
@bgWhite:       #ffffff;

@borderDanger:      #fae0e0;
@borderDefault:     #fae0e0;
@borderDisabled:    #fae0e0;
@borderInfo:        #e7f4fb;
@borderSuccess:     #ebf7ee;
@borderTransparent: transparent;
@borderWarning:     #faf7d6;
@borderWhite:       #ffffff;

@textDanger:      #fae0e0;
@textDefault:     #fae0e0;
@textDisabled:    #fae0e0;
@textInfo:        #e7f4fb;
@textSuccess:     #ebf7ee;
@textTransparent: transparent;
@textWarning:     #faf7d6;
@textWhite:       #ffffff;

@alertBgColorsList: danger @alertBgDanger default @alertBgDefault disabled @alertBgDisabled info @alertBgInfo success @alertBgSuccess transparent @alertBgTransparent warning @alertBgWarning white @alertBgWhite;
@alertBorderColorsList: danger @alertBorderDanger default @alertBorderDefault disabled @alertBorderDisabled info @alertBorderInfo success @alertBorderSuccess transparent @alertBorderTransparent warning @alertBorderWarning white @alertBorderWhite;
@alertTextColorsList: danger @alertTextDanger default @alertTextDefault disabled @alertTextDisabled info @alertTextInfo success @alertTextSuccess transparent @alertTextTransparent warning @alertTextWarning white @alertTextWhite;
@bgColorsList: danger @bgDanger default @bgDefault disabled @bgDisabled info @bgInfo success @bgSuccess transparent @bgTransparent warning @bgWarning white @bgWhite;
@borderColorsList: danger @borderDanger default @borderDefault disabled @borderDisabled info @borderInfo success @borderSuccess transparent @borderTransparent warning @borderWarning white @borderWhite;
@textColorsList: danger @textDanger default @textDefault disabled @textDisabled info @textInfo success @textSuccess transparent @textTransparent warning @textWarning white @textWhite;
