<article role="main">
  <div class="row">
    <div class="col-xs-12 text-center">
      LWD<br />
      Aprende desarrollo web... sin rodeos.
    </div>
  </div>
  <div class="row">
    <div class="col-xxs-12 col-xs-6 col-sm-4 thumbnail-container text-center">
      <div class="thumbnail">
        <div class="thumbnail-image-container">
          <img src="..." alt="Logo de HTML5" title="Logo de HTML5">
        </div>
        <div class="caption">
          <h3>HTML5</h3>
          <p>
            Aprende a crear aplicaciones web semánticas con HTML5 y sus nuevas características.
          </p>
          <p>
            <a ui-sref="lwd.cursos.html" class="btn btn-primary btn-sm" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xxs-12 col-xs-6 col-sm-4 thumbnail-container text-center">
      <div class="thumbnail">
        <div class="thumbnail-image-container">
          <img src="..." alt="Logo de CSS3" title="Logo de CSS3">
        </div>
        <div class="caption">
          <h3>CSS3</h3>
          <p>
            Aprende a usar las hojas de estilo en cascada (CSS) y embellece tus aplicaciones web.
          </p>
          <p>
            <a ui-sref="lwd.cursos.css" class="btn btn-primary btn-sm" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xxs-12 col-xs-6 col-sm-4 thumbnail-container text-center">
      <div class="thumbnail">
        <div class="thumbnail-image-container">
          <img src="..." alt="Logo de LESS" title="Logo de LESS">
        </div>
        <div class="caption">
          <h3>LESS</h3>
          <p>
            Con LESS llevarás tu CSS a otro nivel, gracias al uso de variables, funciones y mucho más.
          </p>
          <p>
            <a ui-sref="lwd.cursos.less" class="btn btn-primary btn-sm" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xxs-12 col-xs-6 col-sm-4 thumbnail-container text-center">
      <div class="thumbnail">
        <div class="thumbnail-image-container">
          <img src="..." alt="Logo de Bootstrap" title="Logo de Bootstrap">
        </div>
        <div class="caption">
          <h3>Bootstrap3</h3>
          <p>
            Agiliza la creación de tus aplicaciones web con este gran framework CSS.
          </p>
          <p>
            <a ui-sref="lwd.cursos.bootstrap" class="btn btn-primary btn-sm" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xxs-12 col-xs-6 col-sm-4 thumbnail-container text-center">
      <div class="thumbnail">
        <div class="thumbnail-image-container">
          <img src="..." alt="Logo de Javascript" title="Logo de Javascript">
        </div>
        <div class="caption">
          <h3>Javascript</h3>
          <p>
            
          </p>
          <p>
            <a ui-sref="lwd.cursos.javascript" class="btn btn-primary btn-sm" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
