<article role="main">
  <div class="row">
    <div class="col-xs-12 text-center">
      LWD<br />
      Aprende desarrollo web... sin rodeos.
    </div>
  </div>
  <div class="row">
    <div class="col-xxs-12 col-xs-6 col-sm-4 text-center">
      <div class="thumbnail">
        <img src="..." alt="Logo de HTML5">
        <div class="caption">
          <h3>Curso de HTML5</h3>
          <p>
            Aprende a crear aplicaciones web semánticas con HTML5 y disfruta de sus nuevas características.
          </p>
          <p>
            <a ui-sref="lwd.cursos.html" class="btn btn-primary" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xxs-12 col-xs-6 col-sm-4 text-center">
      <div class="thumbnail">
        <img src="..." alt="Logo de HTML5">
        <div class="caption">
          <h3>Curso de CSS</h3>
          <p>
            Aprende a usar las hojas de estilo en cascada (CSS) y embellece tus aplicaciones web.
          </p>
          <p>
            <a ui-sref="lwd.cursos.css" class="btn btn-primary" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xxs-12 col-xs-6 col-sm-4 text-center">
      <div class="thumbnail">
        <img src="..." alt="Logo de HTML5">
        <div class="caption">
          <h3>Curso de LESS</h3>
          <p>
            Con LESS llevarás tu CSS a otro nivel, gracias al uso de variables, funciones y mucho más.
          </p>
          <p>
            <a ui-sref="lwd.cursos.less" class="btn btn-primary" role="button">Ir a curso</a> 
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
