@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/header';
@import 'base/footer';
@import 'components/home';
body {
  background-color: #ffefef;
  h1 {font-size: 40px; font-style: italic;}
  h2 {font-size: 30px;}
  h3 {font-size: 25px;}
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 15px 0;
    &.with-border { border-bottom: 1px solid @borderDefault; }
  }
  p {
    text-indent: 15px;
    &.no-indent { text-indent: 0; }
  }
  main.main {
    padding: 0 15px 15px;
  }
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: @bgDefaultLight; }
::-webkit-scrollbar-thumb { background: @bgDefaultDark; }
::-webkit-scrollbar-thumb:hover { background: @bgDefaultDarker; }
