@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/header';
@import 'base/footer';
body {
  background-color: @bgWhite;
  main.main {
    padding: 15px;
    .course-section {
      padding-left: 30px;
    }
  }
}
