.thumbnail-container {
  .thumbnail {
    height: 325px;
    @media only screen and (min-width: 480px) and (max-width: 1199px)  { height: 350px; }
    @media only screen and (min-width: 1200px)  { height: 335px; }
    &:hover {
      box-shadow: 0 0 10px @borderPrimary;
    }
    .thumbnail-image-container {
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: @textWhite;
      &.html5 { background-color: @bgHtml5; }
      &.css3 { background-color: @bgCss3; }
      &.less { background-color: @bgLess; }
      &.javascript { background-color: @bgJavascript; }
      &.jquery { background-color: @bgJquery; }
      &.angularjs { background-color: @bgAngularjs; }
      &.gruntjs { background-color: #E48632; }
      img {
        height: 150px;
        width: 150px;
        &.html5 {}
        &.css3 {}
        &.gruntjs {}
        &.less { height: 50px; margin-top: 50px; width: 111px; }
        &.javascript {
          height: 100px;
          margin-right: 15px;
          margin-top: 10px;
          width: 100px;
        }
        &.jquery { height: 50px; margin-top: 50px; width: 184px; }
        &.angularjs { height: 99px; margin-top: 27px; width: 93px; }
        &.postgresql { height: 110px; margin-top: 20px; width: 110px; }
        &.sailsjs { height: 140px; margin-top: 5px; width: 140px; }
      }
      &.bootstrap-course {
        background-color: @bgBootstrap;
        .bootstrap-course-logo {
          background-color: @bgBootstrap;
          border: 1px solid @borderBootstrap;
          border-radius: 15%;
          color: @textWhite;
          cursor: default;
          display: inline;
          font-size: 65px;
          font-weight: 500;
          line-height: 150px;
        }
      }
    }
  }
}
