<!-- https://www.w3schools.com/html/default.asp -->
<!-- https://www.w3schools.com/tags/tag_colgroup.asp -->
<!-- Mi curso será recorriendo todas las etiquetas -->
<!-- Al final hay que ver el curso como viene en w3schools porque hay detalles útiles que incluir -->
<div class="row course-section">
  <div class="col-xs-12">
      <span ng-bind="HtmlCtrl.hello"></span>
  </div>
</div>

HTML Tags

  Texto
<a></a>
<abbr>
<address>
<b></b>
<bdi>
<bdo>
<blockquote>
<br />
<cite>
<code>
<del>
<details>
<em>
<h1></h1>
<h2></h2>
<h3></h3>
<h4></h4>
<h5></h5>
<h6></h6>
<i></i>
<ins>
<kbd>
<legend>
<mark>
<p></p>
<param>
<pre></pre>
<q>
<rp>
<rt>
<ruby>
<s></s>
<small></small>
<strong></strong>
<sub>
<sup>
<u></u>
<caption>
<dfn>



  Estructura/Maquetado
<area>
<article></article>
<aside></aside>
<body></body>
<div></div>
<fieldset></fieldset>
<figure>
<footer></footer>
<head></head>
<header></header>
<hr />
<html></html>
<iframe>
<img />
<main></main>
<map></map>
<nav></nav>
<picture>
<progress>
<section></section>
<svg>
<template>
<title>
<video>



  Tablas
<col>
<colgroup>
<table></table>
<tbody></tbody>
<td></td>
<th></th>
<thead></thead>
<tr></tr>
<tfoot></tfoot>



  Listas
<dd></dd>
<dl></dl>
<dt></dt>
<datalist>
<li></li>
<ol></ol>
<ul></ul>


  Formularios
<form></form>
<button></button>
<input />
<label></label>
<optgroup>
<option></option>
<select></select>
<textarea></textarea>



<!-- -->
<!DOCTYPE>
<base>
<audio>
<canvas>
<data>
<dialog>
<embed>
<figcaption>
<link>
<meta>
<meter>
<noscript>
<object>
<output>
<samp>
<script>
<source>
<span>
<style>
<summary>
<track>
<var>
<time>
<wbr>


Not supported in HTML
<acronym>
<applet>
<basefont>
<big>
<center>
<dir>
<font>
<frame>
<frameset>
<noframes>
<strike>
<tt>